{% extends 'core/base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <h1>Privacy Policy</h1>
    Privacy Policy
    Effective date: This Privacy Policy applies to your access and use of all products and services that are made
    available by present day through out websites, including but not limited to our website.
    This Privacy Policy describes the information that we gather from you, how we use your
    information, to whom we share your information, and the steps we take to protect your information.
    Information We Collect
    A. INFORMATION WE COLLECT DIRECTLY FROM YOU 
    We may collect information directly from you when you use our Services —In such cases, we
    may ask you to provide us with one or more of the following pieces of information:
    
    • Name.
    • Date of Birth.
    • Phone Number.
    • Email address.
    • Mailing address.
    • Your registration information, such as a username and password.
    • Your communications in dealing with our company and its applicable Services provided.
{% endblock %}