{% extends 'core/base.html' %}

{% block title %}Terms{% endblock %}

{% block content %}
    <h1>Terms of Use</h1>
    All our sellers will undertake their reasonable commercial efforts to ensure that the quoted prices and descriptions are true, accurate, updated and correct, but notwithstanding the foregoing, Plantly cannot fully guarantee such information. Accordingly, the specifications, availability, eligibility, prices and characteristics of the products and services provided via the Site will be subject to change at any time, may or will be
discontinued without prior notice and without any responsibility on behalf of Plantly. You authorize us to charge your account for Plantly's fees. Unless noted, fees are in US dollars; tax is additional. To the extent permitted by law, fees are nonrefundable, even for products we remove. We may
refuse purchases, which may place a hold on your account. The receipt of the order is recorded and confirmed by our platform, with the sending of an e-mail to the address indicated by the buyer during registration. Please keep the email until you receive the purchased
product(s). While products offered on-line via our Site will usually be priced based upon the merchandise prices indicated by sellers, it is possible that you may encounter difference in prices due to promotional events and
updated pricing at different times.
{% endblock %}